@use "../../styles/colors";
.wrapper {
    padding: 14px;
    background-color: colors.$background_paper;
}

.container {
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
}

.icon {
    color: colors.$text_primary!important;
}

.item {
    width: 500px !important;
    background-color: colors.$background_default;
}

.menu {
    display: flex !important;
    align-items: center;
    justify-content: flex-end !important;
    gap: 1rem;
}

.menu :nth-child(3) {
    background-color: colors.$primary_main;
    border-radius: 25px;
    padding: 10px 27px;
}